<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Index page</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <script src="webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="container" align="center">
        <form action="/ajouterOnce" method="post">
            <div class="mb-3">
                <label for="NbrPlate" class="form-label">Nbrplate</label>
                <input type="text" class="form-control w-50" id="NbrPlate" name="NbrPlate">
                <span class="text-danger"  th:errors="${car.NbrPlate}"></span>
            </div>
            <div class="mb-3">
                <label for="Cmodel" class="form-label">Cmodel</label>
                <textarea class="form-control w-50" id="Cmodel" name="Cmodel" maxlength="100"></textarea>
                <span class="text-danger"  th:errors="${car.Cmodel}"></span>
            </div>
            <div class="mb-3">
                <label for="Make" class="form-label">Price</label>
                <input type="text" class="form-control w-50" id="Make" name="Make">
                <span class="text-danger" th:errors="${car.Make}"></span>
            </div>
            <button type="submit" class="btn btn-primary form-control w-50" value="Ajouter">Ajouter</button>
        </form>
    </div>
</div>
</body>
</html>