<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Car List</title>
</head>
<body>
<h2>Car List</h2>
<table>
  <thead>
  <tr>
    <th>NbrPlate</th>
    <th>KmDriven</th>
    <th>Color</th>
    <th>RentPrice</th>
    <th>NbrSeats</th>
    <th>Type</th>
   <!-- <th>Availability</th> -->
    <th>Cmodel</th>
    <th>Make</th>
    <th>CarPrice</th>
    <th>CarGains</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="car : ${listCars}">
    <td th:text="${car.getNbrPlate()}"></td>
    <td th:text="${car.getKmDriven()}"></td>
    <td th:text="${car.getColor()}"></td>
    <td th:text="${car.getRentPrice()}"></td>
    <td th:text="${car.getNbrSeats()}"></td>
    <td th:text="${car.getType()}"></td>
    <!--<td th:text="${car.Availability} ? 'Available' : 'Not Available'"></td>-->
    <td th:text="${car.getCmodel()}"></td>
    <td th:text="${car.getMake()}"></td>
    <td th:text="${car.getCarPrice()}"></td>
    <td th:text="${car.getCarGains()}"></td>
  </tr>
  </tbody>
</table>
<!-- Pagination -->
<div>
  <ul>
    <li th:each="pageNumber : ${pages}">
      <a th:href="@{/cars/index(page=${pageNumber})}" th:text="${pageNumber} + 1"></a>
    </li>
  </ul>
</div>


<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contact</a>
      </li>
    </ul>
  </div>
</footer>

</body>
</html>
